body, html {
    background: 0 36px repeat-y url(//img.alicdn.com/imgextra/i3/O1CN01PaQurJ1QgnAICTCgg_!!6000000002006-2-tps-1490-2984.png);
    background-size: cover;
}

html {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

#homea:hover {
    color: orange;
}

#ct2 {
    color: orange;
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    overflow: auto;
    margin-bottom: 50px;
}

#ct3{
    margin-bottom: 30px;
}

#ct4{
    border:silver 3px solid;
}

#ct4 p {
    color: gold;
}

.SCgoodsPage {
    text-align: center;
}
.totalProce{
    text-align: right;
    color: tomato;
    font-size: 2rem;
}
.pay{
    text-align: center;
}